extends templates/layout

block content

    if finalResult
        each article in finalResult
            p
                a(href=`${article.url}`)=`[${article.date}] ${article.title}`

    p="home!"